In [154]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from dateutil.parser import parse

In [155]:
df = pd.read_csv('ZRX_train.csv')
#wan = pd.read_csv('WAN_train.csv')
#trx = pd.read_csv('TRX_train.csv')
#eos = pd.read_csv('EOS_train.csv')
#drgn = pd.read_csv('DRGN_train.csv')*/

In [156]:
df.shape

(51230, 4)

In [157]:
df.head()

     from     to         value   timestamp
0  1357e3  f4b1c  1.635000e+20  1520370512
1  148b15  2be22  1.000000e+19  1520370524
2   2be22  d521c  8.888720e+18  1520370524
3  148b15  2be22  2.000000e+20  1520370524
4   2be22  a9d33  1.989898e+20  1520370524

In [158]:
df['value'] = df['value']*1e-18

# теперь графики

In [159]:
df.head()

     from     to      value   timestamp
0  1357e3  f4b1c  163.50000  1520370512
1  148b15  2be22   10.00000  1520370524
2   2be22  d521c    8.88872  1520370524
3  148b15  2be22  200.00000  1520370524
4   2be22  a9d33  198.98984  1520370524

In [160]:
df.values

array([['1357e3', 'f4b1c', 163.5, 1520370512],
       ['148b15', '2be22', 10.0, 1520370524],
       ['2be22', 'd521c', 8.888720000000001, 1520370524],
       ...,
       ['1266f1', 'f9e34', 185163.73700000002, 1520971137],
       ['4731c', '113582', 2540.0, 1520971146],
       ['742f5', '134e6d', 69115.59127245001, 1520971167]], dtype=object)

In [161]:
data = []
for fromx, tox, value, ts in df.values:
    data.append([fromx, -value, datetime.datetime.fromtimestamp(ts)])
    data.append([tox, value, datetime.datetime.fromtimestamp(ts)])

In [162]:
df2 = pd.DataFrame(data, columns = ['wallet', 'value', 'ts'])

In [163]:
df2.to_csv('dataZRX.csv', index = False)

In [164]:
df2.head()

   wallet      value                  ts
0  1357e3 -163.50000 2018-03-07 00:08:32
1   f4b1c  163.50000 2018-03-07 00:08:32
2  148b15  -10.00000 2018-03-07 00:08:44
3   2be22   10.00000 2018-03-07 00:08:44
4   2be22   -8.88872 2018-03-07 00:08:44

In [165]:
sum(df2[['wallet', 'value']].groupby('wallet').sum().reset_index().\
    sort_values(by = 'value', ascending = False).head(5).value) + \
sum(df2[['wallet', 'value']].groupby('wallet').sum().reset_index().\
    sort_values(by = 'value', ascending = True).head(5).value)

-2899900.2287356183

In [269]:
df2[['wallet', 'value']].groupby('wallet').sum().reset_index().\
    sort_values(by = 'value', ascending = False).head(20)

       wallet         value
1518   113582  8.459850e+06
393    104fc4  4.678241e+06
5112   141f31  3.390973e+06
13024   6b5cd  3.050000e+06
10872    5039  2.573994e+06
17802    a6ae  2.427210e+06
4910   13f4c9  2.318711e+06
5538   14776d  2.020713e+06
24535   fc215  1.733558e+06
18374   ad691  1.241833e+06
11369   565e2  1.078957e+06
8594    321d0  1.054931e+06
6664    1a4ac  9.927968e+05
3339   12ada4  9.287983e+05
21938   daee4  8.847243e+05
21783   d9006  5.442671e+05
10331   494fc  5.332114e+05
860    10b160  5.000000e+05
6413    1758a  4.722642e+05
13815   75a39  4.504444e+05

In [270]:
top_senders = df2[['wallet', 'value']].groupby('wallet').count().reset_index().\
    sort_values(by = 'value', ascending = False).head(20)

In [271]:
top_senders.head()

      wallet  value
1410   11243   6945
1518  113582   6319
393   104fc4   3867
4142  134e6d   3357
2080  11aad9   2407

In [272]:
lst_senders = list(top_senders.wallet.values)

In [273]:
lst_senders

['11243',
 '113582',
 '104fc4',
 '134e6d',
 '11aad9',
 'ad23a',
 '92a54',
 '2be22',
 '6173',
 '67970',
 'a387b',
 '742f5',
 '80c6a',
 '10cc0d',
 '134ee1',
 '68fbf',
 '28a6e',
 'ad691',
 '5bfc2',
 '53b4e']

In [274]:
%matplotlib qt

# цены

In [275]:
prices = pd.read_csv('tickers_train.csv')

In [276]:
prices['datetime'] = pd.to_datetime(prices['datetime'])
prices['priceBtc'] = prices['priceBtc'] * 100000000000
prices['priceUsd'] = prices['priceUsd'] * 10000000

In [277]:
prices[prices['ticker'] == 'ZRX'].head()

,Unnamed: 0,datetime,name,priceBtc,priceUsd,ticker,volume
0,0,2018-03-01 00:00:00,0x,8.721968e+06,9.022780e+06,ZRX,8127100.0
1,1,2018-03-01 02:00:00,0x,8.637269e+06,8.951068e+06,ZRX,7962720.0
2,2,2018-03-01 04:00:00,0x,8.808431e+06,9.170945e+06,ZRX,7980440.0
3,3,2018-03-01 06:00:00,0x,8.726722e+06,9.102949e+06,ZRX,7554380.0
4,4,2018-03-01 08:00:00,0x,8.740869e+06,9.274604e+06,ZRX,7468790.0

In [278]:
for wallet_sender in lst_senders:
    dfx = df2[df2.wallet == wallet_sender].sort_values('ts')
    #plt.plot(dfx.ts, np.cumsum(dfx.value), linewidth = 1, markersize = 3)
    plt.plot(dfx.ts, np.cumsum(dfx.value), 'o', linewidth = 1, markersize = 3)
#plt.legend(lst_senders)

dfx = prices[prices.ticker == 'ZRX'].sort_values('datetime')
plt.plot(dfx.datetime, dfx.priceBtc, linewidth = 1, markersize = 3)
plt.plot(dfx.datetime, dfx.priceUsd, linewidth = 1, markersize = 3)